<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统后台登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="../admin/static/css/bootstrap.min.css" th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../admin/static/css/login.css" th:href="@{/admin/css/login.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="../admin/static/favicon.ico" th:href="@{/admin/favicon.ico}"/>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
        ;
    </script>
</head>
<body>
<div class="container wrap1">
    <div style="height:auto;position: absolute; top: 16%; bottom:0; left: 0; right: 0;">
    <h2 class="mg-b20 text-center">系统后台登录</h2>
    <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
        <p class="text-left font18">登录/Login</p>
        <form id="signupForm" autocomplete="off">
            <div class="form-group mg-t20">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" name="username" class="login_input" placeholder="请输入用户名" value="admin"/>
            </div>
            <div class="form-group mg-t20">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" name="password" class="login_input" placeholder="请输入密码" value="admin123"/>
            </div>
            <div class="form-group mg-t20">
                <i class="glyphicon glyphicon-record"></i>
                <span class="block input-icon input-icon-right">
                  <input type="text" name="validateCode" class="login_input" style="width: 100%; float: left;" placeholder="请输入验证码"/>
	               <img th:src="@{/captcha/captchaImage(type=${captchaType})}" class="images-code"/>
                    <i id="codeIcon" class="ace-icon fa fa-lock"></i>
                   </span>
              </div>

            <div class="checkbox mg-b25" style="clear:both;">
                <label>
                    <input name="rememberuser" type="checkbox" style="opacity: 1" class="i-checks"/>记住我的登录信息
                </label>
            </div>
            <button class="login_btn" id="btnSubmit" data-loading="正在验证登录，请稍后...">登 录</button>
        </form>
    </div>
    </div>
        <!--row end-->
</div>

<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../admin/static/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="../admin/static/js/bootstrap.min.js" th:src="@{/admin/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../admin/static/ajax/libs/validate/jquery.validate.min.js"
        th:src="@{/admin/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../admin/static/ajax/libs/validate/messages_zh.min.js"
        th:src="@{/admin/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../admin/static/ajax/libs/layer/layer.min.js" th:src="@{/admin/ajax/libs/layer/layer.min.js}"></script>
<script src="../admin/static/ajax/libs/iCheck/icheck.min.js" th:src="@{/admin/ajax/libs/iCheck/icheck.min.js}"></script>
<script src="../admin/static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/admin/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../admin/static/angel/js/angel-ui.js" th:src="@{/admin/angel/js/angel-ui.js?v=2.2.0}"></script>
<script src="../admin/static/angel/login.js" th:src="@{/admin/angel/login.js}"></script>
</body>
</html>
