<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" th:content="${@config.getKey('blog.index.keywords')}">
    <meta name="description" th:content="${@config.getKey('blog.index.description')}">
    <title th:text="${@config.getKey('blog.index.title')}"></title>
    <meta name="baidu-site-verification" content="" />
    <link th:href="@{/blog/myblog/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/blog/myblog/css/base.css}" rel="stylesheet">
    <link  th:href="@{/blog/myblog/css/m.css}" rel="stylesheet">
    <script th:src="@{/blog/myblog/js/jquery-1.8.2.min.js}" ></script>
    <script th:src="@{/blog/myblog/js/comm.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/blog/myblog/js/modernizr.js}"></script>
    <![endif]-->
</head>
<body>
<!-- header -->
<div th:replace="blog/theme/myblog/header"></div>
<div class="container">
    <article class="baseGroup w1200 mt120 layoutAuto">
        <div class="leftWrap pr10 lbox">
            <div class="whitebg bloglist">
                <h1 class="title" th:text="${content}"></h1>
                <p class="detail">为您找到相关结果<b class="mlr5">[[${total}]]</b>条</p>
                <i class="planet a1 animateBalloon2"></i><i class="planet a2 animateBalloon4"></i><i class="planet a3 animateBalloon"></i><i class="planet a4 animateBalloon3"></i>
                <!-- searchData -->
                <div class="searchListGrid">

                    <div class="item" th:each="item,temp:${articleList}" >
                        <h2><a th:href="@{${'/article/'+item.id}}" th:title="${item.title}"  target="_blank" th:text="${item.title}" ></a></h2>
                        <div class="content">

                            <div class="imgBox" th:if="${not #strings.isEmpty(item.coverImage)}"><img th:src="@{${item.coverImage}}" th:alt="${item.title}"></div>

                            <p class="detail"  th:text="${#strings.abbreviate(item.description,120)}"></p>
                            <p>[[${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}]]<span class="mlr">/</span> 阅读 [[${item.hit}]]</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="tips" th:if="${#lists.isEmpty(articleList)}">哎呀，没有搜索到任何内容~</div>
                    <div class="clearfix"></div>
                </div>
                <div id="pageGroup" th:if="${totalPages>1}">
                    <span class="pageinfo">共<strong>[[${totalPages}]]</strong>页<strong>[[${total}]]</strong>条记录</span>
                    <a th:href="@{'/search?content='+${content}}" class="homepage">首页</a>
                    <a th:if="${not hasPrevious}" href="javascript:;" class="prepage nopage">上页</a>
                    <a th:if="${hasPrevious}" th:href="@{'/search?content='+${content}'&pageNum='+${prePage}}"  class="prepage">上页</a>
                    <a  th:each="item:${navNums}" th:href="@{'/search?content='+${content}'&pageNum='+${item}}" class="listpage" th:text="${item}" th:classappend="${item+'' ==currentPage+'' ? 'curpage':''}"></a>
                    <a th:if="${hasNext}" th:href="@{'/search?content='+${content}'&pageNum='+${nextPage}}"  class="nextpage">下页</a>
                    <a th:if="${not hasNext}"href="javascript:;" class="nextpage nopage">下页</a>
                    <a th:href="@{'/search?content='+${content}'&pageNum='+${totalPages}}"  class="endpage">尾页</a>
                </div>

            </div>
        </div>
        <div class="rightWrap pl10 rbox">
            <div class="whitebg paihang">
                <div class="commonHeadLabel small">
                    <span class="title">推荐阅读</span>
                </div>
                <div class="indexListGrid aside">
                    <a  th:each="item,temp:${@angel.focusList(5)}"  th:href="@{${'/article/'+item.id}}" th:title="${item.title}"  target="_blank" class="item">
                            <h2 th:text="${item.title}"></h2>
                            <p>阅读 [[${item.hit}]]<span>/</span>[[${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}]]</p>

                    </a>
                </div>
                <!-- 热门标签 -->
                <div class="commonHeadLabel small mt40">
                    <span class="title">热门标签</span>
                </div>
                <div class="indexTagGrid">
                    <a th:each="item,temp:${@angel.selectFullTabs()}" th:href="@{${'/tag/'+item.tagId}}" th:text="${item.tagName}" class="item" target="_blank"></a>
                    <div class="clearfix"></div>
                </div>
                <!-- 广告业务 -->
                <div class="brandGrid" id="brandGrid"><a href="https://www.aliyun.com/daily-act/ecs/activity_selection?userCode=ga24pnf9" target="_blank"><img class="img" style="width:220px;" src="/images/cover/1688 300-310.png"></a></div>
            </div>

        </div>
        <div class="clearfix"></div>
    </article>
</div>
<!-- footer -->
<div th:replace="blog/theme/myblog/footer"></div>
</body>
</html>