<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="blog/include :: header('素材分配')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<input type="hidden" id="albumId" name="albumId" th:value="${albumId}">
				<div class="select-list">
					<ul>
						<li>
							素材名称：<input type="text" name="materialName"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="selectMaterial()">
				<i class="fa fa-plus"></i> 添加图片
			</a>
			<a class="btn btn-danger multiple disabled" onclick="deleteMaterialBatch()">
				<i class="fa fa-remove"></i> 批量删除
			</a>
			<a class="btn btn-warning" onclick="closeItem()">
				<i class="fa fa-reply-all"></i> 关闭
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="blog/include :: footer" />
<script th:inline="javascript">
    var imageReg = /.+\.(gif|jpg|jpeg|png|webp|bmp)/i;
    var auditStateDatas = [[${@dict.getType('audit_state')}]];
    var useStateDatas = [[${@dict.getType('use_state')}]];
    var materialTypeDatas = [[${@dict.getType('material_type')}]];

    var prefix = ctx + "blog/album/";

    $(function() {
        var options = {
            url: prefix + "/materialList",
            pagination: false,
            queryParams: queryParams,
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "图片",
            columns: [{
                checkbox: true
            },
                {field : 'id',title : 'ID',visible: false},
                {field : 'materialId',title : 'ID',visible: false},
                {field : 'groupName',title : '素材分组',visible: false},
                {field : 'materialName',title : '素材名称'},
                {field : 'materialType',title : '素材类型',formatter: function(value, row, index) {
                        return $.table.selectDictLabel(materialTypeDatas, value);
                    }
                },
                {field : '图片',title : '图片',formatter: function(value, row, index) {
                        if(imageReg.test(row.materialName)){
                            var url="";
                            if(ctx=='/'){
                                url=row.savePath;
                            }else{
                                url=ctx+row.savePath;
                            }
                            return $.table.imageView(url);
                        }else{
                            return "-";
                        }
                    }
                },
                {field : 'materialSize',title : '素材大小',formatter: function(value, row, index) {
                        return renderFileSize(value);
                    }},
                {field : 'auditState',title : '审核状态',formatter: function(value, row, index) {
                        return $.table.selectDictLabel(auditStateDatas, value);
                    }
                },
                {field : 'auditReason',title : '审核意见',visible: false},
                {field : 'useState',title : '启用状态',formatter: function(value, row, index) {
                        return $.table.selectDictLabel(useStateDatas, value);
                    }
                },
                {field : 'width',title : '宽'},
                {field : 'height',title : '高'},
                {field : 'uploadTime',title : '上传日期'},
                {field : 'remark',title : '备注',visible: false},
                {title: '操作', align: 'center', formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="deleteMaterial(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.albumId = $("#albumId").val();
        return search;
    }

    /* 分配素材 */
    function selectMaterial() {
        var url = prefix + '/selectMaterial/' + $("#albumId").val();
        $.modal.open("选择素材", url);
    }

    /* 分配用户-批量取消 */
    function deleteMaterialBatch() {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
            var data = {  "ids": rows.join() };
            $.operate.submit(prefix + "/deleteMaterialBatch", "post", "json", data);
        });
    }

    /* 分配用户-取消授权 */
    function deleteMaterial(id) {
        $.modal.confirm("确认要取消关联该素材吗？", function() {
            $.operate.post(prefix + "/deleteMaterialBatch", {  "ids": id });
        })
    }
</script>
</body>
</html>