<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angelblog.project.system.blog.mapper.BlogThemeMapper">
    
    <resultMap type="BlogTheme" id="BlogThemeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="coverImg"    column="cover_img"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectBlogThemeVo">
        select id, name, code, cover_img, create_time, create_by from blog_theme
    </sql>

    <select id="selectBlogThemeList" parameterType="BlogTheme" resultMap="BlogThemeResult">
        <include refid="selectBlogThemeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="coverImg != null  and coverImg != ''"> and cover_img = #{coverImg}</if>
        </where>
    </select>
    
    <select id="selectBlogThemeById" parameterType="Long" resultMap="BlogThemeResult">
        <include refid="selectBlogThemeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlogTheme" parameterType="BlogTheme" useGeneratedKeys="true" keyProperty="id">
        insert into blog_theme
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="coverImg != null  and coverImg != ''">cover_img,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="coverImg != null  and coverImg != ''">#{coverImg},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateBlogTheme" parameterType="BlogTheme">
        update blog_theme
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="coverImg != null  and coverImg != ''">cover_img = #{coverImg},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogThemeById" parameterType="Long">
        delete from blog_theme where id = #{id}
    </delete>

    <delete id="deleteBlogThemeByIds" parameterType="String">
        delete from blog_theme where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateBlogThemeConfig" parameterType="String">
        update sys_config
        set config_value=#{theme}
        where config_key = 'blog.theme'
    </update>
    <select id="queryCurrentBlogTheme"   resultType="String">
       select config_value from sys_config
       where config_key = 'blog.theme'
    </select>
</mapper>